<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />

        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

        <!-- iconos -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{{ url_for('home') }}">BoardLab</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <!-- Home -->
                        <li class="nav-item">
                            <form action="{{ url_for('home') }}" method="post">
                                <input type="hidden" name='homeUser' id="homeUser" value={{username}} />
                                <input type="submit" value="Home" style="background-color:transparent; border:black">
                            </form>
                        </li>
                        <!-- Profile -->
                        <li class="nav-item" >
                            <form action="{{ url_for('profile') }}" method="post" >
                                <input type="hidden" name='profileUser' id="profileUser" value={{username}} />
                                <input type="submit" value="Profile" style="background-color:transparent; border:black">
                            </form>
                        </li>
                        <!-- notificaciones -->
                        <li class="nav-item"><a class="nav-link" href="#!"><span class="material-icons">notifications_active</span></a></li>
                    </ul>
                      <!-- Search bar -->
                      <div class="d-flex">
                        <form action="/search" method="POST">
                            <input type="text" placeholder="Search.." name="search" id="sBox"/>
                            <input type="hidden" name="load" value="1" id="load"/>
                            <input type="hidden" name="searchuser" value={{username}} id="searchuser"/>
                            <button type="submit" style="background-color: transparent; border: none;">
                                <span class="material-icons">search</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">BoardLab</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <!-- cubito foto-->
                    {% for link in links%}
                        <div class="col mb-5" >
                            <div class="card h-100" id="cubo">
                                <!-- Product image-->
                                <img class="card-img-top" src="{{link}}" alt="..." id="image"/>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder" id="title">Welcome to BoardLab!</h5>
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div>
                                    <!-- download -->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent" style="float: left;">
                                        <div class="text-center">
                                            <a href="{{link}}" download id="downloadPht">
                                                <button type="button" style="background-color:transparent; border:black" >
                                                    <span class="material-icons">file_download</span>
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- add to board -->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent" style="float: right;">
                                        <div class="text-center">
                                            <a href="" id="addPht">
                                                <form action="{{ url_for('adder') }}" method="post">
                                                    <input type="hidden" name='link' id="link" value="{{link}}" />
                                                    <input type="hidden" name='adderUser' id="adderUser" value={{username}} />
                                                    <div>
                                                        <input type="submit" value="+" style="background-color:transparent; border:black 1px; font-size: 25px;" >
                                                        <!-- <span class="material-icons">add_box</span> -->
                                                    </div>
                                                </form>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- fin cubito foto -->
                </div>
            </div>

        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; BoardLab 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
